body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(54, 52, 52);
  background-color: rgb(187, 200, 176);
}

@media only screen and (max-width: 1500px) {
  .titulo {
    position: absolute;
    top: 2.5px;
    left: 30px;
    font-size: 7rem;
    color: rgb(16, 48, 16);
    margin: 0rem;
    text-shadow: 5px 5px 8px #2b4616;
    animation: zoomIn;
    animation-duration: 1s;
  }

  .titulo:first-letter {
    font-size: 10rem;
  }

  .parrafo {
    position: absolute;
    top: 25rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    animation: fadeInRight;
    animation-duration: 2s;
  }

  .menuPpal {
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(187, 200, 176);
    text-align: right;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .menuPpal:hover {
    font-size: 1.4rem;
    font-weight: bold;
  }

  p {
    text-align: justify;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }

  .formulario {
    background-color: rgb(200, 216, 190);
    padding: 2rem 5rem 2rem 5rem;
    color: rgb(24, 24, 34);
    margin: 0rem;
  
  }
}

@media only screen and (max-width: 1000px) {
  .titulo {
    position: absolute;
    top: 2.5px;
    left: 30px;
    font-size: 5rem;
    color: rgb(16, 48, 16);
    margin: 0rem;
    text-shadow: 5px 5px 8px #2b4616;
    animation: zoomIn;
    animation-duration: 1s;
  }

  .titulo:first-letter {
    font-size: 7rem;
  }

  .parrafo {
    position: absolute;
    top: 15rem;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    animation: fadeInURight;
    animation-duration: 2s;
  }

  .menuPpal {
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(187, 200, 176);
    text-align: right;
    font-size: 1rem;
    cursor: pointer;
  }

  .menuPpal:hover {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration-color: blueviolet;
    color: rgb(12, 66, 66);
  }

  p {
    text-align: justify;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }

  .formulario {
    background-color: rgb(200, 216, 190);
    padding: 2rem 3rem 2rem 3rem;
    color: rgb(24, 24, 34);
    margin: 0rem;
  }
}

@media only screen and (max-width: 600px) {
  .titulo {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 3rem;
    color: rgb(16, 48, 16);
    margin: 0rem;
    text-shadow: 5px 5px 8px #2b4616;
    animation: zoomIn;
    animation-duration: 1s;
  }

  .titulo:first-letter {
    font-size: 4rem;
  }

  .parrafo {
    position: absolute;
    top: 15rem;
    text-align: center;
    color: rgb(239, 235, 235);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
    animation: fadeInRight;
    animation-duration: 2s;
  }

  .menuPpal {
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(187, 200, 176);
    text-align: right;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .menuPpal:hover {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration-color: blueviolet;
    color: rgb(12, 66, 66);
  }

  p {
    text-align: justify;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }

  .formulario {
    background-color: rgb(200, 216, 190);
    padding: 2rem 1rem 2rem 1rem;
    color: rgb(24, 24, 34);
    margin: 0rem;
  }

  .fotoPlaya {
    width: 400px;
    height: 500px;
  }
}


.fotoPlaya {
  position: relative;
}
